* {
    box-sizing: border-box;
}
body {
    background-color: rgb(36, 36, 36);
    font-family: monospace ;
    color : white;
    margin : 0;
}

h1 {
    font-size : 3rem;
    color : rgb(241, 204, 18);
    margin:10px 15px 10px 15px;
}

.buttons{
    background-color: rgb(241, 204, 18);
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(36, 36, 36);
    flex-grow : 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 5px;
    font-size:1.5rem;
    border-style:none;
}

h2 {
    font-size : 1.5rem;
}
#wrapper {
    display : flex;
    flex-wrap : nowrap;
    /* flex-direction: column; */
    /* flex-wrap:wrap; */
}

#description{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin : 10px;
}

#options {
    display:flex;
    gap : 0.2rem;
    flex-wrap : wrap;
}

#canvas {
    margin : 10px 10px 10px 15px;
}
ul {
    padding:0;
    font-size:1.5rem;

}

li{
    list-style: none;
}

@media (max-width : 800px) {
    #wrapper{
        flex-wrap : wrap;
        justify-content: center;
        gap : 0;
    }
    h1 {
        font-size : 1.5rem;
        margin : 10px;
    }
    #canvas {
        margin : 10px;
    }
    #description {
        margin-top: 0;
    }
}
